@import "tailwindcss";

html {
  scroll-behavior: smooth;
  
}
#tools { scroll-margin-top: 120px; }
*:focus {
    outline: none !important;
    box-shadow: none !important;
}


.blog-content-style h1 { padding:15px 0 15px; margin:0; font-size:44px; line-height:50px; }
.blog-content-style h2 { padding:0px 0 0px; margin:0;   font-size: 34px; line-height: 42px; }
.blog-content-style h3 { padding:10px 0 10px; margin:0; font-size:26px; line-height:36px; }
.blog-content-style h4 { padding:10px 0 10px; margin:0; font-size:24px; line-height:28px; }
.blog-content-style h5 { padding:10px 0 10px; margin:0; font-size:14px; line-height:24px  }
.blog-content-style h6 { padding:10px 0 10px; margin:0; font-size:16px; line-height:18px; }


.blog-content-style img { max-width:100%; height:auto; border:none; }
.blog-content-style p { margin:0; }
.blog-content-style * + h1, .blog-content-style * + h2, .blog-content-style * + h3 { margin-top:25px; }
.blog-content-style * + h4, .blog-content-style * + h5, .blog-content-style * + h6 { margin-top:20px; }
.blog-content-style * + p { margin-top:15px;}
.blog-content-style ul{ padding-top:10px }

@media (max-width: 767px) {
  .blog-content-style h1 { font-size: 32px; line-height: 38px; }
  .blog-content-style h2 { font-size: 28px; line-height: 34px; }
  .blog-content-style h3 { font-size: 22px; line-height: 28px; }
  .blog-content-style h4 { font-size: 20px; line-height: 24px; }
  .blog-content-style h5 { font-size: 16px; line-height: 22px; }
  .blog-content-style h6 { font-size: 14px; line-height: 18px; }
}